   <% provide(:title, 'Accessories') %>
    <div class="center jumbotron">
      <h1>Music Market Accessories Section</h1>

      <h2>
        This is our catalog of Accessories we have for Sale.
      </h2>
        		<div id="articles" class="clearfix">
        <article>
                    <%= link_to image_tag("a1.jpg", alt: "Accessories")%>
                <h3>Accessory 1</h3>
            <ul>
            <li>Brand: Fender</li>
            <li>Price: €20</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Guitar Pick</li>
                  <li>Colour: Brown</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", buyaccessories_path, class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("a2.jpg", alt: "Accessories")%>
            <h3>Accessory 2</h3>
            <ul>
            <li>Brand: Generic </li>
                    <li>Price: €50</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Piano Cover</li>
                  <li>Colour: Grey</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", buyaccessories2_path, class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("a3.jpg", alt: "Accessories")%>
    <h3>Accessory 3</h3>
    <ul>
    <li>Brand: Warwick </li>
    <li>Price: €40 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Guitar Pick</li>
                  <li>Colour: Black</li>
                </ul>
              </li>
        </ul>
    <p></p>
                        <%= link_to "Buy Now", buyaccessories3_path, class: "btn btn-lg btn-primary" %>

            </article>
                    
           <!--########################################################################################################-->   

                    
                     <article>
                    <%= link_to image_tag("a4.jpg", alt: "Accessories")%>
            <h3>Accessory 4</h3>
                         <ul>
                         <li>Brand: Roland </li>
             <li>Price: €150</li>
                              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Piano Seat</li>
                  <li>Colour: Black</li>
                </ul>
              </li>
                    </ul>
            <p></p>
                    <%= link_to "Buy Now", buyaccessories4_path, class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("a5.jpg", alt: "Accessories")%>
            <h3>Accessory 5</h3>
            <ul>
             <li>Brand: Yamaha </li>
             <li> Price: €100 </li>
                 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Guitar Box</li>
                  <li>Colour: Grey</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", buyaccessories5_path, class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("a6.jpg", alt: "Accessories")%>
    <h3>Accessory 6</h3>
    <ul>
    <li>Brand: Jim Dunlop </li>
    <li>Price: €15 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Guitar Pick</li>
                  <li>Colour: Brown</li>
                </ul>
              </li>
        </ul>
    <p></p>
                        <%= link_to "Buy Now", buyaccessories6_path, class: "btn btn-lg btn-primary" %>

            </article>
        </div>


         <!--  CHANGED LINE -->
    </div>      

