   <% provide(:title, 'Accessories') %>
    <div class="center jumbotron">
      <h1>Music Market Accessories Section</h1>

      <h2>
        This is our catalog of Accessories we have for Sale.
      </h2>
        		<div id="articles" class="clearfix">
        <article>
                    <%= link_to image_tag("a1.jpg", alt: "accessories")%>
            <h3>Accessory 1</h3>
            <ul>
            <li>Brand: G&amp;L</li>
            <li>Price: €280</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("a2.jpg", alt: "Accessories")%>
            <h3>Accessory 2</h3>
            <ul>
            <li>Brand: Avalon </li>
                    <li>Price: €280</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("a3.jpg", alt: "Accessories")%>
    <h3>Accessory 3</h3>
    <ul>
    <li>Brand: Gibson </li>
    <li>Price: €400 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
        </ul>
    <p></p>
                        <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

            </article>
                    
           <!--########################################################################################################-->   

                    
                     <article>
                    <%= link_to image_tag("a4.jpg", alt: "accessories")%>
            <h3>Accessory 4</h3>
                         <ul>
                         <li>Brand: Maestro </li>
             <li>Price: €100</li>
                              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
                    </ul>
            <p></p>
                    <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("a5.jpg", alt: "accessories")%>
            <h3>Accessory 5</h3>
            <ul>
             <li>Brand: Fender </li>
             <li> Price: €225 </li>
                 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("a6.jpg", alt: "Accessories")%>
    <h3>Accessories 6</h3>
    <ul>
    <li>Brand: Yamaha </li>
    <li>Price: €350 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Extra1</li>
                  <li>Extra2</li>
                  <li>Extra3</li>
                </ul>
              </li>
        </ul>
    <p></p>
                        <%= link_to "Buy Now", accessories_path, class: "btn btn-lg btn-primary" %>

            </article>
        </div>


         <!--  CHANGED LINE -->
    </div>      

