   <% provide(:title, 'Guitars') %>
    <div class="center jumbotron">
      <h1>Music Market Guitar Section</h1>

      <h2>
        This is our catalog of Guitars we have for Sale.
      </h2>
        		<div id="articles" class="clearfix">
        <article>
                    <%= image_tag("g6.jpg", alt: "Guitars")%>
            <h3>Guitar 1</h3>
            <ul>
            <li>Brand: <%= Guitar.find(1).brand %></li>
            <li>Price: €<%= Guitar.find(1).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(1).finish %></li>
                  <li>Type: <%= Guitar.find(1).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(1).colour %></li>
                </ul>
              </li>
                </ul>
            <p></p>
                        <% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(1), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>


            </article>
        <article>
<%= link_to image_tag("g5.jpg", alt: "Guitars")%>
            <h3>Guitar 2</h3>
            <ul>
            <li>Brand: <%= Guitar.find(2).brand %></li>
            <li>Price: €<%= Guitar.find(2).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(2).finish %></li>
                  <li>Type: <%= Guitar.find(2).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(2).colour %></li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(2), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>


</article>
<article>
             <%= link_to image_tag("g4.jpg", alt: "Guitars")%>
    <h3>Guitar 3</h3>
    <ul>
            <li>Brand: <%= Guitar.find(3).brand %></li>
            <li>Price: €<%= Guitar.find(3).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(3).finish %></li>
                  <li>Type: <%= Guitar.find(3).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(3).colour %></li>
                </ul>
              </li>
        </ul>
    <p></p>
<% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(3), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>

            </article>
                    
           <!--########################################################################################################-->   

                    
                     <article>
                    <%= link_to image_tag("g3.jpg", alt: "Guitars")%>
            <h3>Guitar 4</h3>
                        <ul>
            <li>Brand: <%= Guitar.find(4).brand %></li>
            <li>Price: €<%= Guitar.find(4).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(4).finish %></li>
                  <li>Type: <%= Guitar.find(4).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(4).colour %></li>
                </ul>
              </li>
                    </ul>
            <p></p>
<% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(4), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>

            </article>
        <article>
<%= link_to image_tag("g2.jpg", alt: "Guitars")%>
            <h3>Guitar 5</h3>
            <ul>
            <li>Brand: <%= Guitar.find(5).brand %></li>
            <li>Price: €<%= Guitar.find(5).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(5).finish %></li>
                  <li>Type: <%= Guitar.find(5).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(5).colour %></li>
                </ul>
              </li>
                </ul>
            <p></p>
<% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(5), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>

</article>
<article>
             <%= link_to image_tag("g1.jpg", alt: "Guitars")%>
    <h3>Guitar 6</h3>
    <ul>
            <li>Brand: <%= Guitar.find(6).brand %></li>
            <li>Price: €<%= Guitar.find(6).price %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Finish: <%= Guitar.find(6).finish %></li>
                  <li>Type: <%= Guitar.find(6).guitartype %></li>
                  <li>Colour:  <%= Guitar.find(6).colour %></li>
                </ul>
              </li>
        </ul>
    <p></p>
<% if logged_in? %>
                    <%= link_to "Buy Now", Guitar.find(6), class: "btn btn-lg btn-primary" %>
                        <% else %>
                                <%= link_to "Buy Now", login_path, class: "btn btn-lg btn-primary" %>
            <% end %>

            </article>
        </div>


         <!--  CHANGED LINE -->
    </div>      

