   <% provide(:title, 'Pianos') %>
    <div class="center jumbotron">
      <h1>Music Market Piano Section</h1>

      <h2>
        This is our catalog of Pianos we have for Sale.
      </h2>
        		<div id="articles" class="clearfix">
        <article>
                    <%= link_to image_tag("p1.jpg", alt: "Pianos")%>
            <h3>Piano 1</h3>
            <ul>
            <li>Brand: Baldwin</li>
            <li>Price: €3000</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Grand</li>
                  <li>Colour: Black</li>
                  <li>Keys: 144</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("p2.jpg", alt: "Pianos")%>
            <h3>Piano 2</h3>
            <ul>
            <li>Brand: Yamaha </li>
                    <li>Price: €850</li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Keyboard</li>
                  <li>Colour: Brown</li>
                  <li>Keys: 88</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("p3.jpg", alt: "Pianos")%>
    <h3>Piano 3</h3>
    <ul>
    <li>Brand: Roland </li>
    <li>Price: €1200 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Grand</li>
                  <li>Colour: Black</li>
                  <li>Keys: 102</li>
                </ul>
              </li>
        </ul>
    <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

            </article>
                    
           <!--########################################################################################################-->   

                    
                     <article>
                    <%= link_to image_tag("p4.jpg", alt: "Pianos")%>
            <h3>Piano 4</h3>
                         <ul>
                         <li>Brand: Yamaha </li>
             <li>Price: €400</li>
                              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Keyboard</li>
                  <li>Colour: Grey</li>
                  <li>Keys: 66</li>
                </ul>
              </li>
                    </ul>
            <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

            </article>
        <article>
<%= link_to image_tag("p5.jpg", alt: "Pianos")%>
            <h3>Piano 5</h3>
            <ul>
             <li>Brand: Chavanne </li>
             <li> Price: €900 </li>
                 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Grand</li>
                  <li>Colour: Brown</li>
                  <li>Keys: 88</li>
                </ul>
              </li>
                </ul>
            <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

</article>
<article>
             <%= link_to image_tag("p6.jpg", alt: "Pianos")%>
    <h3>Piano 6</h3>
    <ul>
    <li>Brand: Royale </li>
    <li>Price: €2500 </li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra Info <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                  <li>Type: Grand/Keyboard Combo</li>
                  <li>Colour: Black</li>
                  <li>Keys: 102</li>
                </ul>
              </li>
        </ul>
    <p></p>
                    <%= link_to "TBA","", class: "btn btn-lg btn-primary" %>

            </article>
        </div>


         <!--  CHANGED LINE -->
    </div>      

