    <% provide(:title, @user.name) %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
            <div class="col-md-8">
      <% if @user.feedbacks.any? %>
          <ol class="feedbacks">
            <%= render @feedbacks %>
          </ol>
        <% end %>
        
      </div>
        </section>
      </aside>
    </div>

<% if @user.feedbacks.empty? %>
      <div class="row">
          <section class="feedback_form">
            <%= render 'shared/feedback_form' %>
          </section>
            <ol class="feedbacks">
          </ol>
        </aside>
      
            
           
            <% else %>
            <p>You have already left feedback</p>
             <% end %>

        <% if @user.purchases.any? %>
          <h3>Purchases (<%= @user.purchases.count %>)</h3>
          <ol class="purchases">
            <%= render @purchases %>
          </ol>
        <% end %>
      </div>