    <% provide(:title, @user.name) %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
            <div class="col-md-8">
      <% if @user.feedbacks.any? %>
          <ol class="feedbacks">
            <%= render @feedbacks %>
          </ol>
        <% end %>
        
      </div>
        </section>
      </aside>
<<<<<<< HEAD
    </div>

<% if @user.feedbacks.empty? %>
      <div class="row">
          <section class="feedback_form">
            <%= render 'shared/feedback_form' %>
          </section>
            <ol class="feedbacks">
          </ol>
        </aside>
      
            
           
            <% else %>
            <p>You have already left feedback</p>
             <% end %>

        <% if @user.purchases.any? %>
          <h3>Guitar Purchases (<%= @user.purchases.count %>)</h3>
          <ol class="purchases">
            <%= render @purchases %>
          </ol>
        <% end %>

 <% if @user.acc_purchases.any? %>
          <h3>Accessory Purchases (<%= @user.acc_purchases.count %>)</h3>
          <ol class="purchases">
            <%= render @acc_purchases %>
          </ol>
        <% end %>

 <% if @user.piano_purchases.any? %>
          <h3>Piano Purchases (<%= @user.piano_purchases.count %>)</h3>
          <ol class="purchases">
            <%= render @piano_purchases %>
          </ol>
        <% end %>


      </div>
=======
        <div class="col-md-8">
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        <% end %>
      </div>
    </div>
>>>>>>> 513d3798b282aa688b69d699e9b0a49ca679abf0
