<%= form_for Feedback.new do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :rating, placeholder: "Enter a rating from 0-100" %>
        <%= f.text_area :content, placeholder: "Enter item feedback..." %>
      </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>